iframe {
    width: 1900px;
    height: 720px;
}

h1 {
    text-align: center;
}


body {
    font-family: 'Times New Roman', Times, serif;
    background-color:white;
    font-size: 1.0em;
}

h1 {
    background-color: yellowgreen;
    color: white;
    margin: 15px;
    padding: 5px;
    border-radius: 12px;
    text-align: center;

}
.diiic{
    position:absolute;
    z-index: inherit -1;
    background-color:white;
    margin:12px;
    padding:5px;
    top:100px;
    left:100px;
    right:100px;
    bottom:100px;
    height:500px;
    border-radius:12px;


}

.respa{
    font-size:1.2em;
    background-color:lightseagreen;

}
.divstart{
    display:flex;
}
.heedi{
    background-color:darkcyan;

}
.buuut{
    background-color:slategrey;
    color:white;
    border:none;
    margin:12px;
    padding:5px;
    border-radius:12px;

}
.buuut:hover{
    background-color:white;
    color:slategrey;
    border:solid 2px slategrey;
}

ul {
    background-color: slategrey;
    border-radius: 12px;
    margin: 12px;
    padding: 10px;
}


.button_main {
    text-decoration: none;
    background-color: yellowgreen;
    border: 3px solid;
    border-radius: 12px;
    color: white;
    margin: 12px;
    padding: 5px;
    text-align: center;

}

.button_main:hover {
    color: yellowgreen;
    background-color: white;
    border: 3px solid yellowgreen;
    border-radius: 12px;
    margin: 12px;
    padding: 5px;
   
}
.gg{
    margin-left:75px;
}
.gg:hover{
    margin-left:75px;
}

h3 {
    background-color: slategrey;
    color: white;
    padding: 10px;
    margin: 12px;
    border-radius: 12px;
    width: 275px;


}

p {
    background-color: yellowgreen;
    color: white;
    margin: 12px;
    padding: 10px;
    border-radius: 12px;
    width: 320px;
}
#para_anmelden{
    text-decoration:none;
    background-color:lightskyblue;
    position:relative;
    
    
}

.flexcontainer {
    display: flex;
    width: 600px;
}

h2,
.flexcontainer {
    background-color: slategrey;
    border-radius: 12px;
    margin: 12px;
    padding: 5px;
    align-self: center;
    color:white;
}

input {
    width: 320px;
    height: 30px;
    font-size: 1.2em;
    margin:4px;
}

.head_ {
    width: 600px;
    background-color: darkcyan;
}

.button_anmelden {
    width: 600px;
    margin: 12px;
    padding: 5px;
    border-radius: 12px;
    background-color: darkcyan;
    color: white;
    text-align: center;

}

.button_anmelden:hover {
    color: darkcyan;
    background-color: white;
    border: 1px solid darkcyan;
    text-align: center;

}
.unorli_{
    background-color:slategray;
}
.para_{
    float:left;
    width:320px;
    height:400px
}
.li_{
    list-style:circle;
}
.fdh{
    color:white;
    background-color:yellowgreen;
    
}
.im_cl{
    
    height:320px;
    width:400px;
    border-radius:12px;


}
.u_cl{
    margin:12px;
    padding:5px;
    width:340px;
    height:400px;
    
}




.li_cl{
    list-style-type:circle;
    color:white;
    background-color:yellowgreen;
    margin:20px;
    padding:12px;
    font-size:1.2em;
    border-radius:12px;
    

}
.d_im{
    display:flex;
}
table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 15px;
  }
th{
    color:white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color:yellowgreen;
    border-radius: 12px 12px 0px 0px;
}
.fiv{
    display:flex;
}
.flex_{
    display:flex;
}
.par{
    background-color:yellowgreen;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:1.4em;
}
.divclass{
    background-color:white;
}
.diva_{
    background-color:yellowgreen;
    display:flex;
    height:50px;
    
    margin:12px;
    padding:5px;
    justify-content: center;
    border-radius:12px;

}
.buttonmain{
    background-color:slategray;
    margin:10px;
    padding:5px;
    color:white;
    height: 45px;
    width:100px;
    border-radius:12px;
    border:3px solid white;
    


}
.buttonmain:hover{
    background-color:white;
    color:slategrey;
    margin:10px;
    padding:5px;
    border:3px solid slategray;
}
.pop{
    background-color:white;
    position:absolute;
    top:100px;
    left:100px;
    right:100px;
    bottom:100px;
    height:500px;
    border-radius:12px;


}
.divclass{
    z-index:-1;
}
.pbut{
    position:absolute;
    bottom:0px;
    right:0px;
    background-color:slategrey;
    color:white;
    border:none;
    border-radius:12px;
    margin:10px;
    padding:5px;
}

.bes{
    background-color:slategrey;
    color:white;
    border-radius:12px;
    
}
.bim{
    display:flex;
    justify-content: center;
}
.ph1_correct{
    background-color:green;
}
.ph1_wrong{
    background-color:red;
}
.mybut{
    background-color:slategray;
    color:white;
    border-radius:12px;
    border: 2px solid;
    height:40px;
    margin:20px;

}
.mybut:hover{
    background-color:white;
    color:slategray;
    border-radius:12px;
    border: 2px solid slategrey;
    height:40px;
    margin:20px;

}
.butin{
    margin:12px;
    padding:5px;
    background-color:slategrey;
    color:white;
    border:none;
    border-radius:12px;


}
.butin:hover{
    background-color:white;
    color:slategrey;
    border:2px solid white;
    margin:12px;
    padding:5px;
    border-radius:12px;
}
.buttd{
    background-color:white;
    color:slategray;
    border-radius:12px;
    justify-content:center;

    width:20px;
    display:block;
    margin:12px;
    border:2px solid slategrey;
    padding:30px;
    
}